<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="~/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<title>_Layout</title>
</head>
<body>
	<nav class="navbar navbar-ligth bg-ligth">
		<a class="navbar-brand" href="#">Exemplo SignalR</a>
	</nav>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="navbar navbar-ligth bg-ligth fixed-bottom"><span>&copy;Alexandre Ferreira</span></footer>
</body>
</html>
